<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body{
        background:red;
        color:yellow;
      }
    </style>
  </head>
  <body>
    <h1>Consuming 3rd party APIs Demo....</h1><hr>
    <h2>Your Geographic Information</h2>
    <h3>Your IP Address:{{ip}}</h3>
    <h3>Your Cotinent Name:{{continent_name}}</h3>
    <h3>Your Country Name:{{country_name}}</h3>
    <h3>Your Region Name:{{region_name}}</h3>
    <h3>Your City:{{city}}</h3>
    <h3>Your Zip:{{zip}}</h3>
    <h3>Your Latitude:{{latitude}}</h3>
    <h3>Your Longitude:{{longitude}}</h3>
  </body>
</html>
